body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.logo {
  margin: 0 10px;
  max-width: 100px;
  height: auto;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(
    100vh - 80px
  ); /* Sayfa yüksekliğinden header ve footer yüksekliği çıkarıldı */
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
}

.messages {
  padding: 10px;
  border-radius: 10px;
}

.message {
  margin-bottom: 10px;
}

.user-message {
  background-color: #007bff;
  color: #fff;
  text-align: right;
  padding: 10px;
  border-radius: 10px;
}

.bot-message {
  background-color: #f0f0f0;
  color: #333;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
}

.content-container__chat {
  width: 100%;
  max-width: 800px;
  height: 60vh;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
.search-container {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;

  .content-container__input-area {
    display: flex;
    align-items: center;
    padding: 2.5%;

    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 20px;

    input {
      flex: 1;
      padding: 1.25%;
      border: 1px solid #ccc;
      border-radius: 5px 0 0 5px;
      margin-right: 2.5%;
      border: none;
      background: #f9f9f9;
    }
  }
}

.content-container__input-area input:focus-visible {
  outline: none;
}

.send-button {
  padding: 1.25%;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 15%;
}

.send-button:hover {
  background-color: #0056b3;
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.pop-in {
  animation: popIn 0.3s ease;
}
